*{
   box-sizing: border-box;
}

body{
   font-family: 'Montserrat', sans-serif;
   background-color: #fff;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
   color: #333333;
}

a{
   color:inherit;
   text-decoration: none;
}

ul{
   list-style: none;

}

.container{
   max-width: 1348px;
   padding: 0px 15px;
   margin: 0 auto;
}


.header{
background-image: url(../images/gradient-top.jpg);
width: 100%;

background-repeat: no-repeat;
background-size: cover;
background-position: top center;


}



.header__menu{

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 57px;
}

.delivery{
   position: relative;
}

.delivery__krug{
   content:'';
   position: absolute;
   width: 100px;
   height: 100px;
   bottom: 13px;
   right: 19px;
   text-align: center;
   border-radius:50%;
   z-index: 1;
   background: rgba(61, 155, 233, 0.8);
}

.delivery__krug::after{
   content:'';
   width: 136px;
   height: 136px;
   border-radius:50%;
   top: -19px;
   bottom: 0;
   left: -19px;
   right: 0;
   position: absolute;
   background: rgba(61, 155, 233, 0.3);
   z-index: -2;
}

.delivery__phone{
   transform: translateY(21px);
   z-index: 5;
   color: #FDF7F7;
}


.menu__list{
   display: flex;
}



.menu__btn{
   display: none;
}

.menu__list-link{
   color: #000;
    font-size: 25px;
    font-weight: 500;
    padding: 0px 10px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
}

.delivery__box{
 

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 22px;
}

.delivery__titles{
   font-size: 30px;
   line-height: 98.44%;
   color: #333333;
   font-weight: 500;
}

.delivery__text{
   font-size: 70px;
   line-height: 98.44%;
   letter-spacing: 0.035em;
   color: #333333;
   font-weight: 900;
   padding: 10px 0px;
}

.delivery__title{
   font-size: 24px;
   line-height: 109.44%;
   color: #333333;
   font-weight: 500;
   margin-bottom: 60px;
}




.delivery__box img{
   background-repeat: no-repeat;
   background-position:right;
   background-size:auto;
   max-width: 100% !important;
  
}

.delivery__btn{
   font-weight: 500;
   font-size: 20px;
   line-height: 106.94%;
   color:#fff;
   background-color: #3D9BE9;
   border-radius: 3px;
   padding: 20px 105px;
   
}


/* HELP */
/* HELP */
/* HELP */



.help{
   background-color: #fff;
}

.help__box{
   display: flex;
   justify-content: space-between;
}


.help__box--inner{
  
   text-align: center;
   width: 410px;
   background: #FEFEFE;
   border-radius: 6px;
   padding: 41px 111px 50px 73px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   margin-bottom: 142px;
}

.help__box-number{
   font-weight: 900;
   font-size: 96px;
   line-height: 98.44%;
   color: #EFF5F8;
   margin-bottom: 20px;
}

.help__box--title{
   font-weight: 600;
   font-size: 22px;
   line-height: 22px;
   color: #333333;
   margin-bottom: 20px;
}

.help__box--text{
   font-size: 16px;
   line-height: 140%;
   color: #333333;
   font-weight: 400;
}



/* ABOUT */
/* ABOUT */
/* ABOUT */

.about{
   padding-top: 30px;
}

.about__fonts{
   background-image: url(../images/about-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   width: 100%;
   height: 742px;
}

.about__box{
   display: flex;
   justify-content: space-between;
}

.about__box-inner{
   width: 309px;
   text-align: center;
   padding-top: 129px;
   margin-bottom: 80px;
}

.about__titles{
   font-size: 30px;
   line-height: 112.94%;
   color: #333333;
   margin-bottom: 56px;
   font-weight: 600;
   text-align: center;
}

.about__box-title{
   font-size: 22px;
   line-height: 22px;
   color: #333333;
   font-weight: 600;
   margin-bottom: 15px;
}



  

/* PRICE */
/* PRICE */
/* PRICE */

.price{
   padding-top: 30px;
}

.price__titles{
   text-align: center;
   font-weight: 600;
   font-size: 30px;
   line-height: 98.44%;
   color: #333333;
   margin-bottom: 70px;
}

.price__box{
   display: flex;
   justify-content: space-between;
}

.solution{
   width: 195px;
   text-align: center;
}

.solution__title{
   font-weight: 600;
   font-size: 22px;
   line-height: 98.44%;
   color: #333333;
   transform: rotate(0.21deg);
   margin-bottom: 18px;
}

.solution__text{
   font-weight: normal;
   font-size: 16px;
   line-height: 98.44%;
   color: #333333;
   transform: rotate(0.21deg);
   margin-bottom: 48px;
}

.solution__list-link{
   font-weight: 500;
   font-size: 20px;
   line-height: 120%;
   color: #333333;
   transform: rotate(0.21deg);
}

.solution__list span{
   padding-left: 50px;
}

.solution__list-link{
   margin-bottom: 46px;
}

.concrete{
   width: 195px;
   text-align: center;
}

.concrete__title{
   font-weight: 600;
   font-size: 22px;
   line-height: 98.44%;
   color: #333333;
   transform: rotate(0.21deg);
   margin-bottom: 18px;
}

.concrete__text{
   font-weight: normal;
   font-size: 16px;
   line-height: 98.44%;
   color: #333333;
   transform: rotate(0.21deg);
   margin-bottom: 48px;
}

.concrete__list-link{
   font-weight: 500;
   font-size: 20px;
   line-height: 98.44%;
   color: #333333;
   transform: rotate(0.21deg);
   margin-bottom: 46px;
}

.concrete__list span{
   padding-left: 50px;
}











.services{
   width: 573px;
   margin-bottom: 192px;
}

.services__title{
   font-size: 22px;
   line-height: 98.44%;
   color: #333333;
   transform: rotate(0.21deg);
   font-weight: 600;
   margin-bottom: 10px;
}

.services__text{
   font-size: 16px;
   line-height: 139.5%;
   color: #333333;
   font-weight: normal;
   margin-bottom: 37px;
}

.services__box-inner{
   display: flex;
   flex-direction: column;
}

.services__phone{
   padding-top: 41px;
   font-weight: 600;
   font-size: 24px;
   line-height: 98.44%;
   color: rgba(51, 51, 51, 0.8);
   margin-bottom: 78px;
}

.services__box-price{
   padding-left: 75px;
   position: relative;
}

.services__box-price::before{
   content:'';
   position: absolute;
   width: 56px;
   height: 82px;
   left: 0;
   top: -35px;
   background-image: url(../images/vektor.svg);
   
}


/* CONDITIONS */
/* CONDITIONS */
/* CONDITIONS */

.conditions{
   margin-bottom: 73px;
}

.conditions__title{
   font-weight: 600;
   font-size: 30px;
   line-height: 37px;
   font-style: normal;
   text-align: center;
   margin-bottom: 84px;
}

.conditions__box{
   display: flex;
   justify-content: space-between;
}

.conditions__inner{
   max-width: 391px;
}

.conditions__item{
  display: flex;
   margin-bottom: 32px;
}

.conditions__item span{
  padding-right: 30px;
}

.conditions__img{
   overflow: hidden;   
}

.conditions__img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   top: 0;
   left: 0;
}




/* FORMA */
/* FORMA */
/* FORMA */


.forma{
  margin-bottom: 141px;
}


.forma__box{
   text-align: center;
}

.forma__wrapper{
   text-align: center;
   padding-top: 120px;
   padding-left: 61px;
}

.forma__title{
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   line-height: 37px;
   margin-bottom: 10px;
}

.forma__text{
   font-weight: normal;
   margin-bottom: 71px;
   font-size: 16px;
   line-height: 20px;
   color: #333333;
}

.forma__inner{
   display: flex;
   
}

form{
   display:flex;
   flex-direction: column;
}


.forma__inner.form input{
   padding-bottom: 20px;
   display: inline-block;
   outline:none ;
   border:none;
  width: 250px;
  padding: 20px 0px;
   
}

form input::placeholder{
   border-bottom: 1px solid #333333;
   padding-bottom: 10px;
   padding: 0px 10px;
  
}

.forma__btn{ 
   border-radius: 3px;
   background-color: #3D9BE9;
   padding: 13px 31px;
   margin-top: 30px;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   font-style: normal;
   color: #FDFDFD;
   cursor: pointer;
}


.forma__inner-img{
 margin: 0px 20px 0px 0px;
 overflow: hidden;
}


.forma__img{
   width: 100%;
   object-fit: cover;  
}


/* CUSTOMERS */
/* CUSTOMERS */
/* CUSTOMERS */

.customers{
   padding-top: 30px;
   margin-bottom: 175px;
}

.customers__box{
   text-align: center;
}

.customers__title{
   font-weight: 600;
   font-size: 30px;
   line-height: 112.94%;
   color: #333333;
   margin-bottom: 80px;
}


.customers__items{
   display: grid;
   grid-gap: 65px 0px ;
   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  align-items: center;
}

.customers__items img{
   max-width: 300%;
}

.customers__item{
   display: flex;
   justify-content: center;
   width: 33%;
}






/* MAP */
/* MAP */
/* MAP */



.map__items{
   position: relative;
}

.map__list{
   position: absolute;
   top: 151px;
   left: 30px;
   max-width: 385px;
   height: 328px;
   background-color: #fff;
   padding: 43px 30px 64px 35px;
}

.map__logo{
   margin-bottom: 35px;
}

.list__item{
   margin-bottom: 15px;
   display: flex;
}

.list__item span{
  margin-right: 20px;
}




/* FOOTER */
/* FOOTER */
/* FOOTER */



.footer{
   background-color: #333333;
}


.footer__wrapper{
   display: flex;
   justify-content: space-between;
   padding: 52px 0px 90px;
}

.footer__left{
   width: 238px;
}

.footer__left img{
   margin-bottom: 35px;
}

.footer__left p{
   font-weight: normal;
   font-size: 16px;
   line-height: 140.9%;
   color: #FFFFFF;
   margin-bottom: 21px;
}








.footer__menu-link{
  padding-top: 55px;
}

.footer__menu-items{
   margin-bottom: 13px;
}

.footer__menu-link a{
   font-weight: 500;
   font-size: 18px;
   line-height: 18px;
   color: #FFFFFF;
}







.footer__social-link{
   padding-top: 55px;
}

.footer__social-items{
   margin-bottom: 13px;
}

.footer__social-link a{
   font-weight: 500;
   font-size: 18px;
   line-height: 98.44%;
   text-align: center;
   color: #FFFFFF;
}








.footer__right{
   padding-top: 55px;
}

.footer__right p{
   font-weight: 500;
   font-size: 18px;
   line-height: 131%;
   color: #FFFFFF;
   margin-bottom: 13px;
}
























/* POPUP */
 .animated-modal {
   max-width: 550px;
   border-radius: 4px;
   overflow: hidden;
   transform: perspective(100px) translate(0px, -100%) rotate(90deg);
   transition: all 0.8s ease 0s;
 } 
 
 .animated-modal h2,
 .animated-modal p,
 .animated-modal .form__input {
   color:#000;
   max-width: 800px;
   position: relative;
   transition: all 0.8s ease 0s;
   opacity: 0;
   transform: perspective(600px) translate(0px, -100%) rotate(45deg);
 }
 
 /* Final state */
 .fancybox-slide--current .animated-modal,
 .fancybox-slide--current .animated-modal h2,
 .fancybox-slide--current .animated-modal p,
 .fancybox-slide--current .animated-modal .form__input{
   transform: translateY(0);
   opacity: 1;
 }

 .animated-modal{
    background-color: #000;
 }

 .form{
    max-width: 550px;
    margin: 0 auto;
    color:#fff;
    padding: 30px 0;
 }

 .form * {
    outline: none;
 }

 .form__body{
    position: relative;
 }

 .form__body::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9)url("../images/") center / 50px  no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
 }

 .form__body._sending::after{
    opacity: 1;
    visibility: visible;
 }

 .form__title{
    font-size: 28px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
 }

 .form__item{
    margin: 0px 0px 20px 0px;
 }

 .form__label{
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;
 }

 

 .checkbox._error .checkbox__label::before{
   box-shadow:0px 0px 15px red;
 }

 .form__input{
    height: 50px;
    padding: 0px 20px;
    border-radius:5px;
    width: 100%;
    font-size: 18px;
    transition: all 0.5s ease 0s;
 }

 .form__input:focus{
    box-shadow: 0 0 15px #7a956b;
 }

 .form__input._error{
    box-shadow:0px 0px 15px red;
 }

.checkbox__input{
   display: block;
   transform: translateY(21px);
}

.checkbox__input:checked + .checkbox__label::after{
   transform: scale(1);
}

.checkbox__label{
   position: relative;
   font-size: 16px;
   line-height: 140%;
   display: inline-flex;
   align-items: center;
   cursor: pointer;
}

.checkbox__label::before{
   content:"";
   align-self: flex-start;
   flex: 0 0 24px;
   height: 24px;
   background-color: #fff;
   border-radius: 4px;
   margin: 0px 10px 0px 0px;
}

.checkbox__label::after{
   content:'';
   transition: transform 0.5s ease 0s;
   width: 16px;
   height: 16px;
   position: absolute;
   top: 4px;
   left: 4px;
   background-color: #7a956b;
   border-radius: 4px;
   transform: scale(0);
}

.form__button{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 60px;
   background-color: #7a956b;
   color:#fff;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 700;
   cursor: pointer;
   border-radius: 20px;
   box-shadow: 0 5px 0 #161b13;
   transition:background-color 0.5s ease 0s ;
   position: relative;
   top: 0;
}

.form__button:hover{
   background-color: #4f6146;
}

.form__button:active{
   top: 3px;
   box-shadow: 0 2px 0 #161b13;
}











@media(max-width:1100px){

 /* БУРГЕР */

   .menu__btn{
      display: block;
      z-index: 10;
      position: relative;
      width: 30px;
      height: 20px;
      float: right;
      background-color: initial;
      border: none;
      cursor: pointer;
      outline: none;
      top: 32px;
      left: -28px;
   }

   .menu__btn::before,
   .menu__btn::after{
      content:'';
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s;
   }

   .menu__btn::before{
      top: 0;
   }

   .menu__btn::after{
      bottom: 0;
   }

   .menu__btn span{
      position: absolute;
      background-color: #000;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s;
   }


   .menu{
      position: fixed;
      overflow:auto;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #18b5a4;
      padding: 70px 10px 20px 10px;
      transition: all 0.5s;
      z-index: 1;
   }

   .menu--active{
     position: fixed;
     overflow:auto;
     top: 0%;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #18b5a4;
     padding: 70px 10px 20px 10px;
   }

   .menu__list{
      display: block;
      text-align: center;
      margin-top: 72px;
   }

   .menu__list li{
      margin: 0px 0px 20px 0px;
   }

   .menu__btn--active::before{
      transform: rotate(45deg);
      top: 9px;
   }

   .menu__btn--active::after{
      transform: rotate(-45deg);
      bottom: 9px;
   }

   .menu__btn--active span{
      transform: scale(0);
   }

   .menu a{
      color:#000;
      font-size: 18px;
      font-weight: 500;
      padding: 0px 10px;
      transition: all 0.3s;
   }

   .menu a:hover{
      color:#3D9BE9
     
   }

   /* БУРГЕР */

}








@media(max-width:1300px){
   .help__box{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50px;
   }

   .help__box--inner{
      margin-bottom: 48px;
   }

   .about__titles{
      margin-bottom: 0;
      margin-top: 56px;
   }

   .about__box-inner{
      padding-top: 50px;
   }

   .conditions{
      margin-bottom: 73px;
   }
}










@media(max-width:1100px){
   .delivery__titles {
      font-size: 26px;
   }

   .delivery__text {
      font-size: 56px;
   }

   .delivery__title {
      font-size: 18px;
   }

   .about__box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}
    .about__box-inner{
       margin-bottom: 14px;
    }

    .price__box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

}

.concrete{
   margin-left: 155px;
}

.services{
   margin-top: 50px;
   width: 100%;
}

.services__phone{
   padding-top: 15px;
}

.conditions__box{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.conditions__inner{
   max-width: 100%;
}


}












@media(max-width:950px){
   .map__list{
      top: 330px;
      padding: 2px 30px 64px 35px;
      height: 268px;
      max-width: 304px;
   }

   .customers {
      margin-bottom: 68px;
}

.footer__wrapper{
   flex-wrap: wrap;
}

.footer__social-link{
   padding-right: 5px;
}

.footer__menu-link{
   padding-right: 5px;
}


}











@media(max-width:750px){
  .forma__btn{
    margin-top: -88px;
  }
}













@media(max-width:690px){
   .delivery__titles {
      font-size: 24px;
  }

  .delivery__text {
   font-size: 50px;
}

.delivery__title {
   font-size: 16px;
}
.conditions__title{
   margin-bottom: 30px;
}



}

         












@media(max-width:555px){
   .delivery__img{
      display: none;
   }

   .delivery__krug {
      display: none;
   }

   .delivery{
     text-align: center;
   }

   .delivery__btn{
      padding: 20px 86px;
   }

   .help__box--inner{
      padding: 41px 39px 50px 27px;
   }

   .forma__img{
      display: none;
   }

   /* .forma__inner-img{
      margin: 0px 47px 0px 0px;
   } */

   .forma__text{
      margin-bottom: -1px;
   }

   .forma__wrapper{
      padding-left: 0px;
   }

   .forma__inner{
      display: flex;
      justify-content: center;
   }

 


}








@media(max-width:592px){
   .concrete{
      margin-left: 0px;
      margin-top: 34px;
   }

   .solution__list-link{
      font-size: 17px;
   }

   .solution__list span{
      font-size: 17px;
   }

   .concrete__list-link{
      font-size: 17px;
   }

   .price__titles{
      margin-bottom: 29px;
   }

   .solution__title{
      font-size: 21px;
   }

   .customers__items{
      grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
   }
}









@media(max-width:420px){
   .customers__items img {
      max-width: 225%;
}




}








@media(max-width:400px){
   .phone{
      font-size: 92%;
   }

   .services__title{
      font-size: 20px;
   }

   .map__list{
      left: 0px;
   }
}





 .header__top-inner--act{
   transform: translateY(-200%);
 }


 